@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

mark {
  background-color: white;
  color: black;
  font-weight: 900;
  padding: 0.1em;
  display: inline-block;
  rotate: 5deg;
  box-shadow: -2px 2px 0 #555;
}

[debug] * {
  outline: 1px dashed red;

  * {
    outline: 1px dashed green;

    * {
      outline: 1px dashed blue;
    }
  }
}
